body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.inline_block{
    display: inline-block;
}

form div{
    margin-top: 20px;
    margin-bottom: 20px;
}

.bg_cliente{
    background-color: #55ccff;
}

.bg_pedido{
    background-color: #40ccbb;
}
.bg_cliente label {
    display: inline-block;
    width: 100px
}
